{% extends 'adminlte/base.html' %}
{% load static %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src='{% static "js/main.js" %}'></script>
    <script type="text/javascript" src='{% static "js/sweetalert/docs/assets/sweetalert/sweetalert.min.js" %}'></script>

{% endblock %}

{% block content %}

{{block.super}}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Crear proyecto</h4>
      </div>
      <form method='POST' action='/proyecto/'>
          {% csrf_token %}
        <div class="modal-body">
            <input class="input" placeholder="Nombre del proyecto" name='nombre'>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>



{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

{% endblock %}

